<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.masterhelper">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:name=".GlobalApplication"
    android:theme="@style/Platform.MaterialComponents">
    <activity android:name=".ui.appBarFragment.AbilityNamesList">
    </activity>
    <activity android:name=".ui.enemies.EditEnemy">
    </activity>
    <activity android:name=".ui.appBarFragment.MusicSettingsScreen">
    </activity>
    <activity
      android:name=".CreateNewItemDialog">
    </activity>
    <activity android:name=".ui.enemies.EnemiesListView" android:theme="@style/CustomTheme">
    </activity>
    <activity android:name=".ui.scene.Scene">
    </activity>
    <activity android:name=".ui.journey.JourneyItemView">
    </activity>
    <activity
      android:name=".ui.journey.JourneysListView"
      android:label="@string/app_name"
      android:theme="@style/CustomTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>