<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.masterhelper">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
    android:name="com.example.com.masterhelper.core.app.GlobalApplication"
    android:allowBackup="true"
    android:debuggable="true"
    android:icon="@mipmap/enemy1"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/enemy1"
    android:supportsRtl="true"
    android:theme="@style/Platform.MaterialComponents"
    tools:ignore="GoogleAppIndexingWarning">
    <activity android:name="com.example.com.masterhelper.force.ui.AddNewForce">
    </activity>
    <activity android:name="com.example.com.masterhelper.settings.ui.SettingList">
    </activity>
    <activity android:name="com.example.com.masterhelper.ui.enemies.EditEnemy">
    </activity>
    <activity android:name="com.example.com.masterhelper.media.ui.MusicSettingsScreen">
    </activity>
    <activity
      android:name="com.example.com.masterhelper.core.factories.dialogs.ui.CreateNewItemDialog"
      android:theme="@style/AppTheme.About">
    </activity>
    <activity
      android:name="com.example.com.masterhelper.ui.enemies.EnemiesListView"
      android:theme="@style/CustomTheme">
    </activity>
    <activity android:name="com.example.com.masterhelper.ui.scene.Scene">
    </activity>
    <activity android:name="com.example.com.masterhelper.ui.journey.JourneyItemView">
    </activity>
    <activity
      android:name="com.example.com.masterhelper.ui.journey.JourneysListView"
      android:label="@string/app_name"
      android:theme="@style/CustomTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>